

<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">Assets Management</h3>
        <h5>Create / Edit</h5>
        <div data-uk-grid-margin="" class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="~/Reports/bystats"><span><img width="40" height="40" src="~/assets/img/Asset.png" class=""></span>By Status</a>
                    <h6>Show assets which are not assigned or assigned to any one.</h6>
                </div>

                <div class="uk-form-row">
                    <a href="~/Reports/byemp"><span><img width="40" height="40" src="~/assets/img/Asset.png" class=""></span>By Employee</a>
                    <h6>Show assets by employee name.</h6>
                </div>

            
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="~/Reports/byrom"><span><img width="40" height="40" src="~/assets/img/Asset.png" class=""></span>By Room</a>
                    <h6>Show assets by room name.</h6>
                </div>

                <div class="uk-form-row">
                    <a href="~/Reports/byse"><span><img width="40" height="40" src="~/assets/img/Asset.png" class=""></span>By Serial No</a>
                    <h6>Show assets by serial no.</h6>
                </div>

            </div>
        </div>

    </div>
</div>