@model IEnumerable<AMS.Models.Asset>



@{
    ViewBag.Title = "bystats";
}
<form action="~/Reports/ByEmployee" method="post">
    <select class="md-input" name="selectfilter">
        @foreach (var item in Model)
        {
            <option value="@item.id">@item.status</option>
        }
    </select>
    <button type="submit" class="md-btn md-btn-primary">View Data</button>
</form>
