
@{
    ViewBag.Title = "Index";
}





 
<div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-medium uk-sortable sortable-handler" data-uk-sortable="" data-uk-grid-margin="">
    <div style="">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_visitors peity_data" style="display: none;">5,3,9,6,5,9,7</span><svg class="peity" height="28" width="48"><rect fill="#d84315" x="1.3714285714285717" y="12.444444444444443" width="4.114285714285715" height="15.555555555555557"></rect><rect fill="#d84315" x="8.228571428571428" y="18.666666666666668" width="4.114285714285716" height="9.333333333333332"></rect><rect fill="#d84315" x="15.085714285714287" y="0" width="4.1142857142857086" height="28"></rect><rect fill="#d84315" x="21.942857142857147" y="9.333333333333336" width="4.114285714285707" height="18.666666666666664"></rect><rect fill="#d84315" x="28.800000000000004" y="12.444444444444443" width="4.114285714285707" height="15.555555555555557"></rect><rect fill="#d84315" x="35.65714285714286" y="0" width="4.114285714285707" height="28"></rect><rect fill="#d84315" x="42.51428571428572" y="6.222222222222221" width="4.114285714285707" height="21.77777777777778"></rect></svg></div>
                <span class="uk-text-muted uk-text-small">Assets</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@ViewBag.asset</span></h2>
            </div>
        </div>
    </div>
    <div style="">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_sale peity_data" style="display: none;">5,3,9,6,5,9,7,3,5,2</span><svg class="peity" height="28" width="64"><polygon fill="#d1e4f6" points="0 27.5 0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5 64 27.5"></polygon><polyline fill="none" points="0 12.5 7.111111111111111 18.5 14.222222222222221 0.5 21.333333333333332 9.5 28.444444444444443 12.5 35.55555555555556 0.5 42.666666666666664 6.5 49.77777777777777 18.5 56.888888888888886 12.5 64 21.5" stroke="#0288d1" stroke-width="1" stroke-linecap="square"></polyline></svg></div>
                <span class="uk-text-muted uk-text-small">Employees</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@ViewBag.emp</span></h2>
            </div>
        </div>
    </div>
    <div class="uk-grid-margin" style="">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_orders peity_data" style="display: none;">64/100</span><svg class="peity" height="24" width="24"><path d="M 12 0 A 12 12 0 1 1 2.7538410866905263 19.649087876984275 L 7.376920543345263 15.824543938492138 A 6 6 0 1 0 12 6" fill="#8bc34a"></path><path d="M 2.7538410866905263 19.649087876984275 A 12 12 0 0 1 11.999999999999998 0 L 11.999999999999998 6 A 6 6 0 0 0 7.376920543345263 15.824543938492138" fill="#eee"></path></svg></div>
                <span class="uk-text-muted uk-text-small">Rooms</span>
                <h2 class="uk-margin-remove"><span class="countUpMe">@ViewBag.room</span></h2>
            </div>
        </div>
    </div>
    <div class="uk-grid-margin" style="">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-float-right uk-margin-top uk-margin-small-right"><span class="peity_live peity_data" style="display: none;">5,2,9,6,1,2,2,0,8,1,2,9,9,5,4,7,4,5,1,8</span><svg class="peity" height="28" width="64"><polygon fill="#efebe9" points="0 27.5 0 12.5 3.3684210526315788 21.5 6.7368421052631575 0.5 10.105263157894736 9.5 13.473684210526315 24.5 16.842105263157894 21.5 20.210526315789473 21.5 23.57894736842105 27.5 26.94736842105263 3.5 30.31578947368421 24.5 33.68421052631579 21.5 37.05263157894737 0.5 40.421052631578945 0.5 43.78947368421052 12.5 47.1578947368421 15.5 50.526315789473685 6.5 53.89473684210526 15.5 57.263157894736835 12.5 60.63157894736842 24.5 64 3.5 64 27.5"></polygon><polyline fill="none" points="0 12.5 3.3684210526315788 21.5 6.7368421052631575 0.5 10.105263157894736 9.5 13.473684210526315 24.5 16.842105263157894 21.5 20.210526315789473 21.5 23.57894736842105 27.5 26.94736842105263 3.5 30.31578947368421 24.5 33.68421052631579 21.5 37.05263157894737 0.5 40.421052631578945 0.5 43.78947368421052 12.5 47.1578947368421 15.5 50.526315789473685 6.5 53.89473684210526 15.5 57.263157894736835 12.5 60.63157894736842 24.5 64 3.5" stroke="#5d4037" stroke-width="1" stroke-linecap="square"></polyline></svg></div>
                <span class="uk-text-muted uk-text-small">Departments</span>
                <h2 class="uk-margin-remove" id="peity_live_text">@ViewBag.dep</h2>
            </div>
        </div>
    </div>
</div>

<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">Assets Management</h3>
        <h5>Create / Edit</h5>
        <div data-uk-grid-margin="" class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="~/Assets/Index"><span><img width="40" height="40" src="~/assets/img/Asset.png" class=""></span>Assets</a>
                    <h6>Add new Department. Edit information about Assets</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Departments/Index"><span><img width="40" height="40" src="~/assets/img/department.png" class=""></span>Departments</a>
                    <h6>Add new Course. Edit information about Departments</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Employees/index"><span><img width="40" height="40" src="~/assets/img/employee.png" class=""></span>Employees</a>
                    <h6>Add new Lecture. Edit information about Employees</h6>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="/Categories/index"><span><img width="40" height="40" src="~/assets/img/category.png" class=""></span>Categories</a>
                    <h6>Add new Teacher. Edit information about Categories</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Manufactures/index"><span><img width="40" height="40" src="~/assets/img/manu.png" class=""></span>Manufactures</a>
                    <h6>Add new Room. Edit information about Manufactures</h6>
                </div>
                <div class="uk-form-row">
                        <a href="/Rooms/index"><span><img width="40" height="40" src="~/assets/img/room.png" class=""></span>Rooms</a>
                        <h6>Add new Semester. Edit information about Rooms</h6>
                    </div>
            </div>
        </div>

    </div>
</div>