
@{
    ViewBag.Title = "Index";
}

<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">System Configuration</h3>
        <h5>Create / Edit</h5>
        <div data-uk-grid-margin="" class="uk-grid">
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="/Departments/index"><span><img width="40" height="40" src="/images/dept.png" class=""></span>Assets</a>
                    <h6>Add new Department. Edit information about Departments</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Courses/index"><span><img width="40" height="40" src="/images/course.png" class=""></span>Departments</a>
                    <h6>Add new Course. Edit information about Courses</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Lectures/index"><span><img width="40" height="40" src="/images/lacture.png" class=""></span>Employees</a>
                    <h6>Add new Lecture. Edit information about Lectures</h6>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="uk-form-row">
                    <a href="/Teachers/index"><span><img width="40" height="40" src="/images/teacher.png" class=""></span>Categories</a>
                    <h6>Add new Teacher. Edit information about Teachers</h6>
                </div>
                <div class="uk-form-row">
                    <a href="/Room/index"><span><img width="40" height="40" src="/images/room.png" class=""></span>Manufactures</a>
                    <h6>Add new Room. Edit information about Rooms</h6>
                </div>
                @*<div class="uk-form-row">
                    <a href="/Semesters/index"><span><img width="40" height="40" src="/images/semester.png" class=""></span>Semesters</a>
                    <h6>Add new Semester. Edit information about Semesters</h6>
                </div>*@
            </div>
        </div>
   
    </div>
</div>
